/* .newPost {
    max-width: 700px;
    min-width: 400px;
    text-align: center;
    margin: 0 auto;
} */

/* .newPost label {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
} */

/* .newPost input,
.newPost textarea,
.newPost select {
    width: 90%;
    margin: auto;
} */

